<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/"><button>Home</button></a>
    <h2>Formulário de cadastro</h2>
    <form action="" method="POST">
        Name: <input type="text" name="nameForm" value="{{user.name}}"><br>
        Email: <input type="email" name="emailForm" value="{{user.email}}"><br>
        Telefone: <input type="text" name="telefoneForm" value="{{user.telefone}}"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>